<!DOCTYPE html>
<html lang="en">

    {%- include head.html -%}

    <body>
        {%- include navbar.html -%}

        <div class="text-center height-fill-text standard-font post-listings ">
            {% for post in site.posts %}
                <h2 style="margin-bottom: 0%;">&#x2022; <a href="{{ post.url }}">{{ post.title }}</a></h2>
                <div class="post-description">
                    <span id="date">Posted on {{ post.date }}</span>
                </div>

                <a href="{{ post.url }}">
                    <div class="post-excerpt small-headings">
                        <p>{{ post.excerpt }}</p>
                        <p>...</p>
                    </div>
                </a>

            {% endfor %}
        </div>

        {%- include footer.html -%}
    </body>
</html>