<!DOCTYPE html>
<html lang="en">

    {%- include head.html -%}

    <body>
        {%- include navbar.html -%}

        <div class="text-center height-fill-text standard-font">

            <table>
                <td style="padding-right: 10px;">
                    <img src="/images/cyan.png" alt="My face" width="64" height="64">
                </td>
                <td>
                    <h2>Hello!</h2>
                </td>
            </table>

            {{ content }}

            <div class="button-generic github-button">
                <a class="button-generic" href="https://github.com/GreenspiritX">My GitHub</a>
            </div>

            <div class="button-generic itch-button">
                <a href="https://greenspirit-studios.itch.io/">My itch.io page</a>
            </div>

            <div class="button-generic itch-button">
                <a href="https://www.patreon.com/GS88">My Patreon</a>
            </div>

            <div class="button-generic coffee-button">
                <a href="https://buymeacoffee.com/greenspirit">Buy me a Coffee</a>
            </div>

            <div class="button-generic twitter-button">
                <a href="https://x.com/Jojos17thvilain">My Twitter</a>
            </div>
        </div>

        {%- include footer.html -%}
    </body>
</html>