<!DOCTYPE html>
<html lang="en">

    {%- include head.html -%}

    <body>
        <div class="banner-container">

            {%- include navbar.html -%}

            <a href="https://greenspirit-studios.itch.io/boxtari-fullgame">
                <p class="hltext">HIGHLIGHTED GAME</p>
                <div class="nameimg-container">
                    <div class="boxtari-text">
                        <p class="boxtari-name"><b>Boxtari</b></p>
                    </div>

                    <img src="/images/boxtariguy.png" alt="Boxtari mascot">
                </div>
            </a>
        </div>

        <div class="text-center height-fill-text standard-font main-text nominh">
            {{ content }}
        </div>

        <a href="https://greenspirit-studios.itch.io/meat-masherthebestgame">
            <img src="/images/backthematic.png" class="image-middle" alt="Thematic background">
        </a>

        <div class="text-center height-fill-text standard-font main-text nominh">
            <h1>Want to see more?</h1>

            <p>
                <a href="/contact.html">
                Here's a list of socials and ways you can support this project
                </a>.

                You can also <a href="/games.html">check out more games
                    </a>.
            </p>
        </div>

        {%- include footer.html -%}

    </body>
</html>